<app-navbar></app-navbar>
<div class="wrapper">
  <div class="content">
      <div class="designs">
          <div class="image">
            <img src="../../assets/img/PFA.png" />
          </div>
          <div class="info">
              <div class="title">
                  <a routerLink="/design-tools/pfa-pro" routerLinkActive="active">PFA 2D Pro</a>   
              </div>
              <div class="description">
                  The PFA 2-D program has been developed with very user friendly steps. Any individual conversant with how to manually analyze a structure using the stiffness matrix approach will find it very easy to use. The basic steps involved in using it are presented below.
              </div>
          </div>
        </div>
    <div class="designs">
        <div class="image">
          <img src="../../assets/img/thunderbird-logo-200x200.png" />
        </div>
        <div class="info">
            <div class="title">
                <a routerLink="/tutorials/rsa" routerLinkActive="active">Structural Analysis and Design with Autodesk RSA</a>
                
            </div>
            <div class="description">
                This tutorial series uses Robot Structural Analysis to validate some practical
                structural engineering problems. 
            </div>
        </div>
        
      </div>
  </div>
</div>