/* General CSS */


section {
    display: flex;
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
  }


.front-quote {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 2em;
    line-height: 2em;
    text-align: justify;
  }

  .front-image {
      width: 60%;
      padding: 1em;
      align-self: center;
  }

  .front-image img {
      border-radius: 50%;
      width: 100%;
  }
  
  .vertical-menu {
    flex-grow: 1;
    line-height: 1em;
    display: flex;
    flex-direction: column;
  }
  
  .vertical-menu a {
      width: 80%;
      text-decoration: none;
      color: #000000;
      padding: 1em;
  }
  
  .vertical-menu a:hover {
      font-weight: bold;
      font-style: italic;
  }
  
  .vertical-menu div {
      width: 90%;
      padding: 1em;
  }
  
  .about-me {
      border-left: 0.5em solid darkred;
      border-bottom: 1px dashed;
  }
  
  .research {
      border-left: 0.5em solid yellow;
      border-bottom: 1px dashed;
  }
  
  .publications {
      border-left: 0.5em solid darkgreen;
      border-bottom: 1px dashed;
  }
  
  .design-tools {
      border-left: 0.5em solid orangered;
      border-bottom: 1px dashed;
  }
  
  .tutorials {
      border-left: 0.5em #4EF50C solid;
      border-bottom: 1px dashed;
  }
  
  .contact {
      border-left: 0.5em solid darkblue;
      border-bottom: 1px dashed;
  }


/* Older Phones */

@media only screen and (min-width: 320px) { 
    section {
        flex-direction: column;
    }

    .front-quote {
        display: none;
    }

    .vertical-menu {
        align-items: flex-start;
        margin-bottom: 2em;
    }

    

    

}

/*  Newer Phones */

@media only screen and (min-width: 480px) {
    section {
        margin-bottom: 3em;
    }
    
}

/* Small computer screens and large tablets */

@media only screen and (min-width: 768px) {
    app-navbar {
        display: none;
    }

    .front-image {
        display: none;
    }

    section {
        flex-direction: row;
        align-items: center;
        height: 80vh;
    }

    .front-quote {
        display: flex;
        flex-basis: 50%;
        line-height: 3em;
    }

    .vertical-menu  {
        flex-basis: 50%;
    }

    
      
      
}

/* Desktop monitors or large tablet devices */

@media only screen and (min-width: 992px) {
    section {
        margin-bottom: 1em;
    }

}

/* Desktop monitors or large tablet devices */

@media only screen and (min-width: 992px) {

}