<app-navbar></app-navbar>
<section>
  <div class="front-quote">
    Every calling has its mile of compulsion, its daily round of tasks and duties, its standard of honest craftsmanship, its
    code of man-to-man relations, which one must cover if he is to survive. Beyond that lies the mile of voluntary effort,
    where men strive for excellence, give unrequited service to the common good, and seek to invest their work with a wide
    and enduring significance. It is only in this second mile that a calling may attain to the dignity and the distinction
    of a profession.
    <p style="font-style: italic; font-weight: bold; text-align:right">- The Second Mile.</p>
  </div>
  <div class="front-image">
    <img src="../../assets/img/ConradKyei.jpg" />
  </div>
  <div class="vertical-menu">
    <a routerLink="/resume" routerLinkActive="active">
      <div class="about-me">
        About Me
      </div>
    </a>
    <a routerLink="/publications" routerLinkActive="active">
      <div class="publications">
        Publications
      </div>
    </a>
    <a routerLink="/design-tools" routerLinkActive="active">
      <div class="design-tools">
        Design Tools
      </div>
    </a>
    <a routerLink="/tutorials" routerLinkActive="active">
      <div class="tutorials">
        Tutorials
      </div>
    </a>
    <a routerLink="/contact" routerLinkActive="active">
      <div class="contact">
        Contact
      </div>
    </a>
  </div>
</section>
<app-footer></app-footer>
