.wrapper {
    display: flex;
    justify-content: center;
}

.container {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info {
    display: flex;
    flex-direction: column;
    padding: 1em;
    align-items: center;
    justify-content: center;
}

.info .download {
    display: flex;
    flex-direction: column;
}

.download .image {
    margin-bottom: 1em;
}

.download {
    margin-bottom: 1em;
}

.content {
    display: flex;
    flex-direction: column;
    text-align: justify;
    line-height: 2em;
}

.content h3 {
    margin: 0;
    padding: 0;
}



.divider {
    border-top: 1px solid;
    width: 50%;
    align-self: center;
    padding: 1em;
}

/* Older Phones */

@media only screen and (min-width: 320px) { 
    .image {
        display: flex;
        justify-content: center;
        padding: 1em;
    }

    .step1 img {
        width: 300px;
        height: 255px;
    }

    .step2 img {
        width: 300px;
        height: 211px;
    }

    .step3 img {
        width: 300px;
        height: 265px;
    }

    .step4 img {
        width: 300px;
        height: 292px;
    }

    .step5 img {
        width: 300px;
        height: 187px;
    }

    .step6 img {
        width: 300px;
        height: 106px;
    }

    .step7 img {
        width: 300px;
        height: 193px;
    }
}

/*  Newer Phones */

@media only screen and (min-width: 480px) {
    
}

/* Small computer screens and large tablets */

@media only screen and (min-width: 768px) {
    .info {
        flex-direction: row;
        align-items: flex-start;
    }

    .content {
        padding-left: 2em;
    }

    .image img {
        width: auto;
        height: auto;
    }
    
}

/* Desktop monitors or large tablet devices */

@media only screen and (min-width: 992px) {

}

/* Desktop monitors or large tablet devices */

@media only screen and (min-width: 992px) {

}
