<app-navbar></app-navbar>
<div class="wrapper">
  <div class="content">
    <div class="paper"><a href="http://www.sciencedirect.com/science/article/pii/S0141029617309641" target="_blank">Kyei, C., & Braimah, A. (2017). Effects of transverse reinforcement spacing on the response of reinforced concrete columns
    subjected to blast loading. Engineering Structures, 142, 148-164.</a>
    </div>
    <div class="paper">
      <a href="https://carleton.ca/elerg/people/conrad-kyei/" target="_blank">Kyei, C. (2014), Thesis: Effect of Blast Loading on Seismically Detailed Reinforced Concrete Columns, Department of Civil Engineering, Carleton University</a>
    </div>
    <div class="paper"><a href="javascript:void(0);" (click)="downloadReport()">Kyei, C. (2010), Project Report: An Algorithm for the analysis of 2-Dimensional Plane Frame Structures.</a>
    </div>
  </div>
</div>
