<app-navbar></app-navbar>
<div class="wrapper">
  <div class="content">
      <div class="tutorial">
          <div class="image">
            <img src="../../assets/img/lsdyna.png" />
          </div>
          <div class="info">
              <div class="title">
                  <a routerLink="/tutorials/lsdyna" routerLinkActive="active">LS-DYNA RC Column Modelling</a>
                  
              </div>
              <div class="description">
                  LS-DYNA modelling of a Reinforced Concrete Column subjected to blast loading
              </div>
          </div>
        </div>
    <div class="tutorial">
        <div class="image">
          <img src="../../assets/img/thunderbird-logo-200x200.png" />
        </div>
        <div class="info">
            <div class="title">
                <a routerLink="/tutorials/rsa" routerLinkActive="active">Structural Analysis and Design with Autodesk RSA</a>
                
            </div>
            <div class="description">
                This tutorial series uses Robot Structural Analysis to validate some practical
                structural engineering problems. 
            </div>
        </div>
        
      </div>
  </div>
</div>