<app-navbar></app-navbar>
<div class="wrapper">
  <header>
    <div class="name">
      Conrad Kyei (MASC, BSc)
    </div>
    <p>
      A highly-positive individual with the capacity to innovatively solve engineering problems.</p>
    <p class="email">Contact Info: conradkyei@gmail.com</p>
    <div class="underline"></div>
  </header>

  <section class="bio">
    <div class="title">Profile</div>
    <div class="underline"></div>
    <div class="profile">
      <div class="profile-text">
        <p> I have a Civil Engineering background with a focus on Structural Engineering. I had my undergraduate education in
          Ghana. After my undergraduate studies, I worked for a year with the Structural Engineering division of KNUST, in
          Ghana and then moved to Canada for graduate studies. I hold an MASc Civil Engineering from Carleton University,
          Ottawa, where I also worked as a research and teaching assistant. </p>
        <p>I am a problem solver, a good team player and very detail-oriented while being timely and efficient. I'm an avid
          programmer - always seeking ways to incorporate some form of automation in my daily workflow. I never pass the
          opportunity to engage in a game of chess. When the weather is nice and beautiful, you'll definitely find me outside
          with friends or just enjoying nature.
        </p>
      </div>
      <div class="profile-image">
        <img src="../../assets/img/ConradKyei.jpg" />
      </div>
    </div>
  </section>

  <section class="experience">
    <div class="title">Experience</div>
    <div class="underline"></div>
    <div class="job">
      <p>
        <b>Research Associate — Carleton University, Canada</b> (2014 - Present)</p>
      <ul>
        <li>
          Conducting research into extreme load effects on critical infrastructure systems.
        </li>
        <li>
          Performance of structural analysis and structural design calculations for various ongoing research works.
        </li>
        <li>
          Investigating impact loading on steel anchors using numerical modelling techniques.
        </li>
        <li>
          Investigating blast loading resistance of structural elements through numerical analysis using high fidelity finite element
          packages.
        </li>
        <li>
          Preparation of progress reports.
        </li>
        <li>
          Generation of CAD drawings using AutoCAD, Autodesk Inventor and other modelling software.
        </li>
        <li>Making 3-D structural models for numerical analysis.</li>
      </ul>
      <p>
        <b>Teaching / Research Assistant - Carleton University, Canada</b> (2011 - 2014)</p>
      <ul>
        <li>Studied the effect of blast loading on RC columns detailed to withstand seismic loading using high fidelity physics-based
          finite element packages.</li>
        <li>Produced a Masters thesis on the topic: "Effects of blast loading on seismically detailed RC columns."</li>
        <li>Developed a non-linear single degree of freedom dynamic model to study effect of blast loading on reinforced concrete
          columns. Studied the effect of blast loading on columns using high fidelity physics-based finite element packages</li>
        <li>
          Conducted tutorial sessions for structural analysis and design courses.
        </li>
        <li>
          Preparation of solution manuals for structural engineering courses.
        </li>
        <li>
          Proctored examinations.
        </li>
      </ul>

      <p>
        <b>Teaching Assistant / Junior Civil Engineer - Kwame Nkrumah University of Science and Technology, Ghana</b> (2010
        - 2011)</p>
      <ul>
        <li>
          Liaised and interacted with contractors, and other technical consultants as needed to ensure construction works were done
          to meet specified and applicable standards.
        </li>
        <li>
          Developed and maintained spreadsheet design tools for design of structural components.
        </li>
        <li>
          Performed building inspections and prepared reports to assist in fixing identified defects.
        </li>
        <li>
          Used Civil 3D and AutoCAD for drafting and designing to produce site and servicing plans.
        </li>
        <li>
          Performed several lab tests such as concrete cube testing for external clients in our structural engineering laboratory.
        </li>
        <li>
          Performed structural analysis and structural design calculations for several building projects.
        </li>
        <li>Supervised building projects on the university campus.</li>
        <li>Conducted tutorial lessons in structural analysis courses and taught design courses in reinforced concrete design,
          steel design and timber design.</li>
        <li>
          Proctored mid-term and final exams for the department.
        </li>
        <li>Developed a GUI windows OS desktop application for the analysis of 2-D planar frame structures using the Finite Element
          Method, Stiffness Matrix Algorithm, incoporating object oriented programming concepts.
        </li>
      </ul>

      <p>
        <b>Engineer-In-Training - Department of Urban Roads - Ghana </b> (2008)</p>
      <ul>
        <li>
          Performed daily checks and maintained a daily log of the performance of traffic signals.
        </li>
        <li>
          Supervised activities in road construction works awarded to contractors in the Kumasi Metropolis.
        </li>
        <li>
          Analyzed field and laboratory data obtained from investigations and wrote reports.
        </li>
        <li>
          Undertook road inventory activities for selected roads in the city.
        </li>
        <li>
          Attended consultation and pre-construction meetings.
        </li>
        <li>
          Reported and worked on pothole patching of roads in the Kumasi Metropolis.
        </li>
      </ul>

      <p>
        <b>Engineer-In-Training - Attachy Construction Ltd. - Ghana </b> (2007 - 2008)</p>
      <ul>
        <li>
          Supervised and inspected site construction activities for civil works including earthworks and road works, in the Kumasi
          Metropolis.
        </li>
        <li>
          Assisted technicians to survey and establish elevations at project sites using survey instruments.
        </li>
        <li>
          Performed project cost analysis and reporting.
        </li>
        <li>
          Developed and managed cost forecast work sheets.
        </li>
        <li>
          Prepared cost and labour estimates, and tender documents for projects.
        </li>
        <li>
          Took inventory of construction materials and construction equipment on site.
        </li>
      </ul>
    </div>
  </section>

  <section class="education">
    <div class="title">Education</div>
    <div class="underline"></div>
    <div class="masters">
      <b>MASc. Civil Engineering</b> (2011 – 2014), Carleton University, Ottawa, Canada.
    </div>
    <div class="bachelors">
      <b>BSc. Civil Engineering</b>s (2006 – 2010), Kwame Nkrumah University of Science and Technology, Kumasi, Ghana
    </div>
  </section>

  <section class="skills">
    <div class="title">Computer Skills</div>
    <div class="underline"></div>
    <div>
      <b>Engineering Software:</b> AutoCAD, Civil 3D, STAAD Pro, SAP2000, ETABS, Autodesk Robot, S-Frame, Autodesk Revit, ABAQUS,
      ANSYS, LS-DYNA;</div>
    <div>
      <b>Programming Languages:</b> MATLAB, Visual C#, Java, C++, Python;</div>
    <div>
      <b>MS Office Suite:</b> Word, Excel, Access, PowerPoint;</div>
  </section>

  <section class="publications">
    <div class="title">Publications</div>
    <div class="underline"></div>
    <ul>
      <li>
        Kyei, C., & Braimah, A. (2017). Effects of transverse reinforcement spacing on the response of reinforced concrete columns
        subjected to blast loading. Engineering Structures, 142, 148-164.
      </li>
      <li>
        Kyei, C. (2014). Effects of blast loading on seismically detailed reinforced concrete columns (Masters Dissertation, Carleton
        University Ottawa).
      </li>
    </ul>
  </section>

  <section class="achievements">
    <div class="title">Achievements</div>
    <div class="underline"></div>
    <ul>
      <li>
        <b>Class Valedictorian</b>, Civil Engineering Class of 2010, KNUST- Ghana
      </li>
      <li>
        <b>Best Civil Engineering Student</b>, Undergrad., (Completed with highest GPA in class of 141)
      </li>
    </ul>
  </section>
  <app-footer></app-footer>
</div>
