<app-navbar></app-navbar>
<div class="wrapper">
  <header>
    <div class="name">
      Conrad Kyei (MASC, BSc)
    </div>
    <p>
      A highly-positive engineer with the capacity to innovatively solve engineering problems.</p>
    <p class="email">Contact Info: conradkyei@gmail.com</p>
    <div class="underline"></div>
  </header>

  <section class="bio">
    <div class="title">Profile</div>
    <div class="underline"></div>
    <div class="profile">
      <div class="profile-text">
        <p> I have a Civil Engineering background with a focus on Structural Engineering. I had my undergraduate education in Ghana.
          After my undergraduate studies, I worked of a year with the Structural Engineering division of KNUST, in Ghana and then moved
          to Canada for graduate studies. I hold an MASc Civil Engineering from Carleton University, Ottawa, where I also
          worked as a research and teaching assistant. </p>
        <p>I am a problem solver, a good team player and very detail-oriented while being timely and efficient. I'm an avid
          programmer - always seeking ways to incorporate some form of automation in my daily workflow. I never pass the
          opportunity to engage in a game of chess. When the weather is nice and beautiful, you'll definitely find me outside
          with friends or just enjoying nature.
        </p>
      </div>
      <div class="profile-image">
        <img src="../../assets/img/ConradKyei.jpg" />
      </div>
    </div>
  </section>

  <section class="education">
    <div class="title">Education</div>
    <div class="underline"></div>
    <div class="masters">
      <b>MASc. Civil Engineering</b> (2011 – 2014), Carleton University, Ottawa, Canada.
    </div>
    <br />
    <div class="bachelors">
      <b>BSc. Civil Engineering</b>s (2006 – 2010), Kwame Nkrumah University of Science and Technology, Kumasi, Ghana
    </div>
  </section>

  <section class="experience">
    <div class="title">Related Experiences</div>
    <div class="underline"></div>
    <div class="job">
      <p><b>Research Associate — Carleton University, Canada</b> (2014 - Present)</p>
      <ul>
        <li>Investigating window anchor resistance to blast loading through numerical analysis using high fidelity finite element
          packages.
        </li>
      </ul>
      <p><b>Research Assistant - Carleton University, Canada</b> (2011 - 2014)</p>
      <ul>
        <li>Developed a non-linear single degree of freedom dynamic model to study effect of blast loading on reinforced concrete
          columns. Studied the effect of blast loading on columns using high fidelity physics-based finite element packages</li>
      </ul>
      <p><b>Teaching Assistant - Carleton University, Canada</b> (2011 - 2014)</p>
      <ul>
        <li>Conducted tutorial sessions for structural analysis and design courses.</li>
        <li>Assisted in proctoring exams </li>
        <li>Assisted in the preparation of solution manuals for structural engineering courses</li>
      </ul>
      <p><b>Teaching Assistant - Kwame Nkrumah University of Science and Technology, Canada</b> (2010 - 2011)</p>
      <ul>
        <li>Performed basic structural analysis and structural design calculations for building projects on the university campus.</li>
        <li>Supervised building projects on the university campus.</li>
        <li>Conducted tutorial lessons in structural analysis courses and taught design courses in reinforced concrete design,
          steel design and timber design</li>
        <li>
          Proctored mid-term and final exams for the department. Undergraduate Project
        </li>
        <li>Developed a GUI windows OS desktop application for the analysis of 2-D planar frame structures using the Finite Element
          Method, Stiffness Matrix Algorithm, incoporating object oriented programming concepts
        </li>
      </ul>
    </div>
  </section>

  <section class="skills">
    <div class="title">Computer Skills</div>
    <div class="underline"></div>
    <p><b>Engineering Software:</b> AutoCAD, Civil 3D, STAAD Pro, SAP2000, ETABS, Autodesk Robot, S-Frame, Autodesk Revit, ABAQUS,
      ANSYS, LS-DYNA;</p>
    <p><b>Programming Languages:</b> MATLAB, Visual C#, Java, C++, Python;</p>
    <p><b>MS Office Suite:</b> Word, Excel, Access, PowerPoint;</p>
  </section>

  <section class="publications">
    <div class="title">Publications</div>
    <div class="underline"></div>
    <ul>
      <li>
        Kyei, C., & Braimah, A. (2017). Effects of transverse reinforcement spacing on the response of reinforced concrete columns
        subjected to blast loading. Engineering Structures, 142, 148-164.
      </li>
      <br />
      <li>
        Kyei, C. (2014). Effects of blast loading on seismically detailed reinforced concrete columns (Masters Dissertation, Carleton
        University Ottawa).
      </li>
    </ul>
  </section>

  <section class="achievements">
    <div class="title">Achievements</div>
    <div class="underline"></div>
    <ul>
      <li>
        <b>Class Valedictorian</b>, Civil Engineering Class of 2010, KNUST- Ghana
      </li>
      <br />
      <li>
        <b>Best Civil Engineering Student</b>, Undergrad., (Completed with highest GPA in class of 141)
      </li>
    </ul>
  </section>
  <app-footer></app-footer>
</div>
